%article#content
  %h1
    goodies
  %h2
    Badges and Banners
  %div
    %section
      %h1
        160x160
      %p= image_tag('badgeAttendee.png')
      %dl.listMark
        %dt
          ATTENDEE:
        %dd
          = link_to('160x160', 'badgeAttendee.png', target: 'blank')
          ,&nbsp;
          = link_to('@2x', 'badgeAttendee@2x.png', target: 'blank')
        %dt
          ATTENDEE(AWAY):
        %dd
          = link_to('160x160', 'badgeAttendeeAway.png', target: 'blank')
          ,&nbsp;
          = link_to('@2x', 'badgeAttendeeAway@2x.png', target: 'blank')
        %dt
          SPEAKER:
        %dd
          = link_to('160x160', 'badgeSpeaker.png', target: 'blank')
          ,&nbsp;
          = link_to('@2x', 'badgeSpeaker@2x.png', target: 'blank')
        %dt
          LIGHTNING TALKER:
        %dd
          = link_to('160x160', 'badgeLightningTalker.png', target: 'blank')
          ,&nbsp;
          = link_to('@2x', 'badgeLightningTalker@2x.png', target: 'blank')
        %dt
          COMMITTER:
        %dd
          = link_to('160x160', 'badgeCommitter.png', target: 'blank')
          ,&nbsp;
          = link_to('@2x', 'badgeCommitter@2x.png', target: 'blank')
        %dt
          OFFICIAL SPONSOR:
        %dd
          = link_to('160x160', 'badgeOfficialSponsor.png', target: 'blank')
          ,&nbsp;
          = link_to('@2x', 'badgeOfficialSponsor@2x.png', target: 'blank')
        %dt
          STAFF:
        %dd
          = link_to('160x160', 'badgeStaff.png', target: 'blank')
          ,&nbsp;
          = link_to('@2x', 'badgeStaff@2x.png', target: 'blank')

    %section
      %h1
        780x90
      %p= image_tag('bannerOfficialSponsor.png')
      %dl.listMark
        %dt
          OFFICIAL SPONSOR:
        %dd
          = link_to('780x90', 'bannerOfficialSponsor.png', target: 'blank')
          ,&nbsp;
          = link_to('@2x', 'bannerOfficialSponsor@2x.png', target: 'blank')
