%article#content
  %h1
    sponsors
  %div#sponsors
    %section#rubySponsor
      %h1
        Ruby Sponsors
      %ul
        %li
          %p.logo= link_to image_tag('sponsorsRuby01.png', alt: 'pixiv', width: '220px'), 'http://www.pixiv.net/', target: '_blank'
          %p.name= link_to 'pixiv', 'http://www.pixiv.net/', target: '_blank'
          %p
            Since 2007, pixiv has built an online community for creators around the mantra “It’s fun drawing”. pixiv has since used Ruby on Rails to build pixiv.com (an international-focused version of pixiv.net) and pixiv comic (a site offering free online digital comics/manga). Engineers all around the world have adopted Ruby - not just because Ruby is a superior language, but because of the immensely attractive community behind it. Just as the art on pixiv transcends language, so too does the Ruby community. We will continue to support the creators of the world, regardless of medium - code or canvas.

        %li
          %p.logo= link_to image_tag('sponsorsRuby02.png', alt: 'COOKPAD', width: '220px'), 'http://cookpad.com/', target: '_blank'
          %p.name= link_to 'COOKPAD', 'http://cookpad.com/', target: '_blank'
          %p
            COOKPAD is Japan’s top recipe site allowing visitors to upload and search through original, user-created recipes. Currently being used by almost 80-90% of all Japanese women in their 20-30s, COOKPAD has become an essential tool in enabling families to enjoy cooking across Japan.The access to the site reaches its peak around 4-5 PM when people start grocery shopping for the day’s dinner ingredients. Combined with our mobile and smartphone services which can be used on the go and in stores, COOKPAD plays a significant role in the shopping decisions that consumers make in their everyday lives.

    %section#specialSponsor
      %h1
        Special Sponsors
      %ul
        %li
          %h2
            Drink Sponsor
          %p.logo= link_to image_tag('sponsorsSpecial01.png', alt: 'Microsoft Japan Co., Ltd.', width: '220px'), 'http://windowsazure.com/ja-jp/', target: '_blank'
          %p.name= link_to 'Microsoft Japan Co., Ltd.', 'http://windowsazure.com/ja-jp/', target: '_blank'
          %p
            Microsoft is emphasizing on securing of compatibility in the various technical domains. This is including the other companies development language (including OSS) on the Windows platform development operation environment maintenance as well. Implementation of the Ruby practice environment in .NET Framework or implementation of the Ruby practice environment of latest Microsoft development base cloud service Windows Azure are the representative example. Particularly there was new evolution including the Linux OS support for Windows Azure recently. Please keep eye on it for an broader action of future Microsoft.

        %li
          %h2
            Bento Sponsor
          %p.logo= link_to image_tag('sponsorsSpecial02.png', alt: 'Heroku', width: '220px'), 'http://www.heroku.com', target: '_blank'
          %p.name= link_to 'Heroku', 'http://www.heroku.com', target: '_blank'
          %p
            Heroku’s platform as a service allows your organization to build faster, deploy instantly and scale on demand without managing servers. Gain the flexibility to deploy any language any time and to any scale. Maintain control by isolating, running and monitoring independent processes. Heroku makes it effortless. Sign up at <a href="http://www.heroku.com" target="_blank">www.heroku.com</a>.

        %li
          %h2
            WiFi Sponsor
          %p.logo= link_to image_tag('sponsorsRubyComingSoon.png', alt: 'DeNA', width: '180px'), 'http://dena.com/', target: '_blank'
          %p.name= link_to 'DeNA', 'http://dena.com/', target: '_blank'
          %p
            DeNA is a global internet company with a number of game titles in Google Play’s top rankings, and we depend on Ruby for back-end development. We’re also releasing new services and contributing to the open source community, with the goal of delighting the world and having an impact on a global scale.

    %section#platinumSponsor
      %h1
        Platinum Sponsors
      %ul
        %li
          %p.logo= link_to image_tag('sponsorsPlatinum01.png', alt: 'Engine Yard', width: '180px'), 'http://www.engineyard.co.jp', target: '_blank'
          %p.name= link_to 'Engine Yard', 'http://www.engineyard.co.jp', target: '_blank'
          %p
            Engine Yard is the leading PaaS, empowering software application innovation more rapidly. With powerful infrastructure orchestration, strong support and service, Engine Yard provides a complete commercial grade PaaS that enables developers to focus on creating great applications.

        %li
          %p.logo= link_to image_tag('sponsorsPlatinum02.png', alt: 'paperboy&co., Inc.', width: '180px'), 'http://www.paperboy.co.jp', target: '_blank'
          %p.name= link_to 'paperboy&co., Inc.', 'http://www.paperboy.co.jp', target: '_blank'
          %p
            paperboy&co., Inc., under the corporate mission “Making the Net a lot more fun”, is providing a variety of Web services such as <a href="http://lolipop.jp" target="_blank">lolipop</a>, <a href="http://muumuu-domain.com/" target="_blank">Muu Muu Domain</a>, and so on, and actively sponsoring development communities including Ruby.

        %li
          %p.logo= link_to image_tag('sponsorsPlatinum03.png', alt: 'Drecom Co., Ltd.', width: '180px'), 'http://drecom.co.jp', target: '_blank'
          %p.name= link_to 'Drecom Co., Ltd.', 'http://drecom.co.jp', target: '_blank'
          %p
            We are planning and developing many types of services which are focusing on a word "communication" such as, mobile contents, internet advertising, etc. Now, our core businesses are [Social games], [Ad-solutions], and [Social learning].

        %li
          %p.logo= link_to image_tag('sponsorsPlatinumWanted.png', alt: 'SPONSORS WANTED!!', width: '180px'), '#'#, target: '_blank'
          %p.name= 'Get this spot'
          %p
            Prospectus:
            %a(href='https://dl.dropbox.com/s/3yhh9578lz72yw6/rk13-sponsors-prospectus.pdf' target='_blank')
              http://goo.gl/UrKpm
          %p
            Application Form:
            %a(href='https://docs.google.com/a/ruby-no-kai.org/spreadsheet/viewform?formkey=dGxvUkQxQm04MmVicDFEaHppb0diS3c6MQ#gid=0' target='_blank')
              http://goo.gl/u4xc3

    %section#goldSponsor
      %h1
        Gold Sponsors
      %ul
        %li
          %p.logo= link_to image_tag('sponsorsGold01.png', alt: 'Eiwa System Management, Inc.', width: '135px'), 'https://coderwall.com/team/eiwa-system-management', target: '_blank'
          %p.name= link_to 'Eiwa System Management, Inc.', 'https://coderwall.com/team/eiwa-system-management', target: '_blank'
          %p
            ESM is one of the best company building Ruby/Rails application with agile way in Japan. We are maximizing client's return on investment.

        %li
          %p.logo= link_to image_tag('sponsorsGold02.png', alt: 'Qiita/Kobito', width: '135px'), 'http://qiita.com/', target: '_blank'
          %p.name= link_to 'Qiita/Kobito', 'http://qiita.com/', target: '_blank'
          %p
            def <a href="http://increments.co.jp" target="_blank">increments</a>; { <a href="http://qiita.com" target="_blank">qiita</a>: "A technical knowledge sharing platform forprogrammers", <a href="http://kobito.qiita.com" target="_blank">kobito</a>: "A Mac application to manage markdown notes" }; end

        %li
          %p.logo= link_to image_tag('sponsorsGold03.png', alt: 'Basho Japan KK', width: '135px'), 'http://www.basho.co.jp', target: '_blank'
          %p.name= link_to 'Basho Japan KK', 'http://www.basho.co.jp', target: '_blank'
          %p
            With Riak distributed database and Riak Cloud Storage, Basho delivers extreme stability, availability and scalability to every users.

        %li
          %p.logo= link_to image_tag('sponsorsGold04.png', alt: 'Tabelog', width: '135px'), 'http://tabelog.com/', target: '_blank'
          %p.name= link_to 'Tabelog', 'http://tabelog.com/', target: '_blank'
          %p
            Tabelog is the restaurant review site in Japan. Monthly unique users are 40 million, and 800 million PV. We've been using Ruby since 2007.

        %li
          %p.logo= link_to image_tag('sponsorsGold05.png', alt: 'Network Applied Communication Laboratory Ltd.', width: '135px'), 'http://www.netlab.jp/', target: '_blank'
          %p.name= link_to 'Network Applied Communication Laboratory Ltd.', 'http://www.netlab.jp/', target: '_blank'
          %p
            Network Applied Communication Laboratory (NaCl) delivers system development solutions utilizing open source software. NaCl drives the Ruby programming language with Ruby creator and NaCl fellow, Yukihiro "Matz" Matsumoto.

        %li
          %p.logo= link_to image_tag('sponsorsGoldWanted.png', alt: 'SPONSORS WANTED!!', width: '135px'), '#'#, target: '_blank'
          %p.name= 'Get this spot'
          %p
            Prospectus:
            %a(href='https://dl.dropbox.com/s/3yhh9578lz72yw6/rk13-sponsors-prospectus.pdf' target='_blank')
              http://goo.gl/UrKpm
          %p
            Application Form:
            %a(href='https://docs.google.com/a/ruby-no-kai.org/spreadsheet/viewform?formkey=dGxvUkQxQm04MmVicDFEaHppb0diS3c6MQ#gid=0' target='_blank')
              http://goo.gl/u4xc3

    %section#silverSponsor
      %h1
        Silver Sponsors
      %ul
        %li
          %p.logo= link_to image_tag('sponsorsSilver01.png', alt: 'ClearCode Inc.', width: '90px'), 'http://www.clear-code.com/', target: '_blank'
          %p.name= link_to 'ClearCode Inc.', 'http://www.clear-code.com/', target: '_blank'
          %p
            ClearCode runs free software business and contributes free softwares.

        %li
          %p.logo= link_to image_tag('sponsorsSilver02.png', alt: 'Enishi Tech Inc.', width: '90px'), 'http://www.enishi-tech.com', target: '_blank'
          %p.name= link_to 'Enishi Tech Inc.', 'http://www.enishi-tech.com', target: '_blank'
          %p
            We develop software in Sapporo, a beautiful provincial city in Japan.

        %li
          %p.logo= link_to image_tag('sponsorsSilver03.png', alt: 'EY-Office', width: '90px'), 'http://www.ey-office.com/', target: '_blank'
          %p.name= link_to 'EY-Office', 'http://www.ey-office.com/', target: '_blank'
          %p
            Coming soon...

        %li
          %p.logo= link_to image_tag('sponsorsSilver04.png', alt: 'tmix', width: '90px'), 'http://tmix.jp/', target: '_blank'
          %p.name= link_to 'tmix', 'http://tmix.jp/', target: '_blank'
          %p
            We're on a mission to help people better their lives with EC.

        %li
          %p.logo= link_to image_tag('sponsorsSilver05.png', alt: 'Agileware Inc.', width: '90px'), 'http://agileware.jp/', target: '_blank'
          %p.name= link_to 'Agileware Inc.', 'http://agileware.jp/', target: '_blank'
          %p
            We developed a production ready system within 3 months.

        %li
          %p.logo= link_to image_tag('sponsorsSilverComingSoon.png', alt: 'CodeIQ', width: '90px'), 'https://codeiq.jp/', target: '_blank'
          %p.name= link_to 'CodeIQ', 'https://codeiq.jp/', target: '_blank'
          %p
            Coming soon...

        %li
          %p.logo= link_to image_tag('sponsorsSilverComingSoon.png', alt: 'Everyleaf Corporation', width: '90px'), 'http://everyleaf.com/', target: '_blank'
          %p.name= link_to 'Everyleaf Corporation', 'http://everyleaf.com/', target: '_blank'
          %p
            Coming soon...

        %li
          %p.logo= link_to image_tag('sponsorsSilverWanted.png', alt: 'SPONSORS WANTED!!', width: '90px'), '#'#, target: '_blank'
          %p.name= 'Get this spot'
          %p
            Prospectus:
            %a(href='https://dl.dropbox.com/s/3yhh9578lz72yw6/rk13-sponsors-prospectus.pdf' target='_blank')
              http://goo.gl/UrKpm
          %p
            Application Form:
            %a(href='https://docs.google.com/a/ruby-no-kai.org/spreadsheet/viewform?formkey=dGxvUkQxQm04MmVicDFEaHppb0diS3c6MQ#gid=0' target='_blank')
              http://goo.gl/u4xc3
