%h1#mainImg
  = image_tag 'homeMain.svg', alt: 'RubyKaigi 2013 MAY 30 - JUNE 1 at Tokyo International Exchange Center Tokyo, Japan'

%div.feature
  %div.ribbon
    %div.ribbon-content
      %p
        RubyKaigi 2013 is a 3 day, multi-track conference for Rubyists held in Tokyo, Japan, the country Ruby was born in.
      %p
        %strong
          Let's celebrate Ruby 2.0's release by rebooting RubyKaigi this year!

%div#summary
  %p
    %strong
      In RubyKaigi 2013, you'll get:
  %ul.listMark
    %li
      the huge chance to say hi and thanks to Ruby committers!! (RubyKaigi will have the largest number of Ruby committers in conferences all around the world!)
    %li
      the most awesome keynote talks on this planet, given by @yukihiro_matz, @tanaka_akr and @josevalim!
    %li
      the opportunity to understand what Japanese Rubyist are saying in their presentations! There will be JA -> EN interpreters available during RubyKaigi this time! We will provide a great environment for Rubyists from around the world.
  %div.details
    %p
      %i.icon-time<>
      &nbsp;
      Thu, 30 May 2013 10:00 - Sat, 01 Jun 2013 18:30
    %p
      %i.icon-map-marker<>
      &nbsp;
      %a{ href: 'https://maps.google.com/?q=35.62018648392562,139.77641344070435(Tokyo+International+Exchange+Center,+2-2-1+Aomi,+Koto-ku,+Tokyo+135-8630++Japan)&ie=UTF8&hl=en&z=16', target: '_blank' }
        Tokyo International Exchange Center 2-2-1 Aomi, Koto-ku, Tokyo 135-8630 Japan
  %p
    %span.btn
      %a{ href: '2013/speakers' }
        %i.icon-circle-arrow-right
        &nbsp;
        Speakers
    %span.btn
      %a{ href: 'http://rubykaigi.doorkeeper.jp/events/2980', target: '_blank' }
        %i.icon-circle-arrow-right
        &nbsp;
        Buy Tickets

%div#information
  %h2
    Latest Information
  %div
    %p
      For CFP-submitters, We're very sorry for delaying the notification of your talk is accepted or not.
    %br
    %p
      For Rubyists, Tickets to RubyKaigi 2013 are now on sale via doorkeeper.jp!!
      %br
      %a(href="http://rubykaigi.doorkeeper.jp/events/2980" target="_blank")
        http://rubykaigi.doorkeeper.jp/events/2980
    %br
    %p
      Our latest status on
      %a(href="http://blog.rubykaigi.org/" target="_blank")
        blog
      and
      %a(href="http://twitter.com/rubykaigi" target="_blank")
        @rubykaigi
      \.
  %h2
    We are now seeking for sponsors!!
  %div
    %p
      Prospectus:
      %a(href='https://dl.dropbox.com/s/3yhh9578lz72yw6/rk13-sponsors-prospectus.pdf' target='_blank')
        http://goo.gl/UrKpm
    %p
      Application Form:
      %a(href='https://docs.google.com/a/ruby-no-kai.org/spreadsheet/viewform?formkey=dGxvUkQxQm04MmVicDFEaHppb0diS3c6MQ#gid=0' target='_blank')
        http://goo.gl/u4xc3
  %h2
    Tags
  %div
    %p
      For Twitter:
      %a(href='https://twitter.com/#!/search/realtime/%23rubykaigi')
        \#rubykaigi
    %p
      For Blogs, Flickr: rubykaigi2013
  %h2
    Contact
  %div
    %p
      Feel free to contact the team via email to 2013 at rubykaigi.org
  %h2
    Previous
  %div#previous
    %ol
      - (2006..2012).to_a.reverse.each do |year|
        %li
          %a(href="http://rubykaigi.org/#{year}")= year
  %h2
    Sponsors
  %div
    %section#rubySponsor
      %h1
        Ruby Sponsors
      = partial 'sponsors_logo', locals: {sponsors: data.sponsors.ruby_sponsors }

    %section#specialSponsor
      %h1
        Special Sponsors
      = partial 'sponsors_logo', locals: {sponsors: data.sponsors.special_sponsors}

    %section#platinumSponsor
      %h1
        Platinum Sponsors
      = partial 'sponsors_logo', locals: {sponsors: data.sponsors.platinum_sponsors}

    %section#goldSponsor
      %h1
        Gold Sponsors
      = partial 'sponsors_logo', locals: {sponsors: data.sponsors.gold_sponsors}

    %section#silverSponsor
      %h1
        Silver Sponsors
      = partial 'sponsors_logo', locals: {sponsors: data.sponsors.silver_sponsors}
