%article#content
  %h1
    schedule
  %div
    - if data.sessions.empty?
      %p.comingSoon
        Coming soon...

    - else
      %h2 Day 1 - May 30

      %table
        %tr
          %th -
          %th Kaigi Hall (450 < people)
          %th Media Hall (100 - people)

        = partial 'schedule_row_break', locals: {slot: '9:30 -', text: 'Door Open'}

        = partial 'schedule_row', locals: {slot: '10:00 - 11:00', cells: [[], []]}
        = partial 'schedule_row', locals: {slot: '11:00 - 12:00', cells: [[], []]}

        = partial 'schedule_row_break', locals: {slot: '12:30 - 13:30', text: 'LUNCH BREAK'}

        = partial 'schedule_row', locals: {slot: '13:30 - 14:30', cells: [[], []]}
        = partial 'schedule_row', locals: {slot: '14:30 - 15:30', cells: [[], []]}

        = partial 'schedule_row_break', locals: {slot: '15:30 - 16:00', text: 'COFFEE BREAK'}

        = partial 'schedule_row', locals: {slot: '16:00 - 17:00', cells: [[], []]}
        = partial 'schedule_row', locals: {slot: '17:00 - 18:00', cells: [[], []]}
        = partial 'schedule_row', locals: {slot: '18:00 -', cells: [[], []]}

      %h2 Day 2 - May 31

      %table
        %tr
          %th -
          %th Kaigi Hall (450 < people)
          %th Media Hall (100 - people)

        = partial 'schedule_row_break', locals: {slot: '9:30 -', text: 'Door Open'}

        = partial 'schedule_row', locals: {slot: '10:00 - 11:00', cells: [[], []]}
        = partial 'schedule_row', locals: {slot: '11:00 - 12:00', cells: [[], []]}

        = partial 'schedule_row_break', locals: {slot: '12:30 - 13:30', text: 'LUNCH BREAK'}

        = partial 'schedule_row', locals: {slot: '13:30 - 14:30', cells: [[], []]}
        = partial 'schedule_row', locals: {slot: '14:30 - 15:30', cells: [[], []]}

        = partial 'schedule_row_break', locals: {slot: '15:30 - 16:00', text: 'COFFEE BREAK'}

        = partial 'schedule_row', locals: {slot: '16:00 - 17:00', cells: [[], []]}
        = partial 'schedule_row', locals: {slot: '17:00 - 18:00', cells: [[], []]}

      %h2 Day 3 - June 1

      %table
        %tr
          %th -
          %th Kaigi Hall (450 < people)
          %th Media Hall (100 - people)

        = partial 'schedule_row_break', locals: {slot: '9:30 -', text: 'Door Open'}

        = partial 'schedule_row', locals: {slot: '10:00 - 11:00', cells: [[], []]}
        = partial 'schedule_row', locals: {slot: '11:00 - 12:00', cells: [[], []]}

        = partial 'schedule_row_break', locals: {slot: '12:30 - 13:30', text: 'LUNCH BREAK'}

        = partial 'schedule_row', locals: {slot: '13:30 - 14:30', cells: [[], []]}
        = partial 'schedule_row', locals: {slot: '14:30 - 15:30', cells: [[], []]}

        = partial 'schedule_row_break', locals: {slot: '15:30 - 16:00', text: 'COFFEE BREAK'}

        = partial 'schedule_row', locals: {slot: '16:00 - 17:00', cells: [[], []]}
        = partial 'schedule_row', locals: {slot: '17:00 - 18:00', cells: [[], []]}
