%article#content
  %h1
    speakers
  %h2
    Keynote Speakers
  %div
    %ul#keynoteSpeakers
      - data.speakers.keynote_speakers.each do |speaker|
        %li<>
          %p.name
            = speaker.name
          %p.avatar
            %img{ width: 180, height: 180, src: "http://www.gravatar.com/avatar/#{speaker.gravatar}/?s=180", alt: 'Avatar' }
          %p.links
            %span.btn
              %a{ href: "https://github.com/#{speaker.links.github}", target: '_blank' }
                %i.icon-github-alt
            %span.btn
              %a{ href: "https://twitter.com/#{speaker.links.twitter}", target: '_blank' }
                %i.icon-twitter

  %h2
    Ruby Committers Who Are Going to Give a Talk
  %div
    %ul#committers
      - data.speakers.committers.each do |speaker|
        %li<>
          %p.name
            = speaker.name
          %p.avatar
            %img{ width: 100, height: 100, src: "http://www.gravatar.com/avatar/#{speaker.gravatar}/?s=100&d=http%3A%2F%2Frubykaigi.org%2F2013%2FcommonNoImage.png", alt: 'Avatar' }
          %p.links
            - if speaker.links.github
              %span.btn
                %a{ href: "https://github.com/#{speaker.links.github}", target: '_blank' }
                  %i.icon-github-alt
            - else
              %span.btnDisabled
                %a
                  %i.icon-github

            - if speaker.links.twitter
              %span.btn
                %a{ href: "https://twitter.com/#{speaker.links.twitter}", target: '_blank' }
                  %i.icon-twitter
            - else
              %span.btnDisabled
                %a
                  %i.icon-twitter

  %h2
    Speakers in the Plenary Kaigi
  %div
    %ul#speakers
      - data.speakers.speakers.each do |speaker|
        %li<>
          %p.name
            = speaker.name
          %p.avatar
            %img{ width: 100, height: 100, src: "http://www.gravatar.com/avatar/#{speaker.gravatar}/?s=100&d=http%3A%2F%2Frubykaigi.org%2F2013%2FcommonNoImage.png", alt: 'Avatar' }
          %p.links
            - if speaker.links.github
              %span.btn
                %a{ href: "https://github.com/#{speaker.links.github}", target: '_blank' }
                  %i.icon-github-alt
            - else
              %span.btnDisabled
                %a
                  %i.icon-github

            - if speaker.links.twitter
              %span.btn
                %a{ href: "https://twitter.com/#{speaker.links.twitter}", target: '_blank' }
                  %i.icon-twitter
            - else
              %span.btnDisabled
                %a
                  %i.icon-twitter
