%article#content
  %h1
    sponsors
  %div#sponsors
    %section#rubySponsor
      %h1
        Ruby Sponsors
      = partial 'sponsors', locals: {sponsors: data.sponsors.ruby_sponsors}

    %section#specialSponsor
      %h1
        Special Sponsors
      = partial 'sponsors', locals: {sponsors: data.sponsors.special_sponsors}

    %section#platinumSponsor
      %h1
        Platinum Sponsors
      = partial 'sponsors', locals: {sponsors: data.sponsors.platinum_sponsors, sponsors_wanted: 'sponsorsPlatinumWanted.png'}

    %section#goldSponsor
      %h1
        Gold Sponsors
      = partial 'sponsors', locals: {sponsors: data.sponsors.gold_sponsors, sponsors_wanted: 'sponsorsGoldWanted.png'}

    %section#silverSponsor
      %h1
        Silver Sponsors
      = partial 'sponsors', locals: {sponsors: data.sponsors.silver_sponsors, sponsors_wanted: 'sponsorsSilverWanted.png'}
